{% extends 'account/main.html' %}
{% block content %}

<div>
    <br>
    <div class="row">
        <div class="col-md">
            <h5>Customer:</h5>
            <br>
            <div class="card card-body">
                <a href="" class="btn btn-success btn-sm btn-block">Update Customer</a>
                <a href="" class="btn btn-danger btn-sm btn-block">Remove Customer</a>
            </div>
        </div>
        <div class="col-md">
            <h5>Contact Information:</h5>
            <br>
            <div class="card card-body">
                <h6>Email: {{customer.email}}</h6>
                <h6>Phone: {{customer.phone}}</h6>
            </div>
        </div>
        <div class="col-md">
            <h5>Total Orders</h5>
            <br>
            <div class="card card-body">
                <h1>{{order_count}}</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card card-body">
                <form action="" method="get">
                    <button type="submit" class="btn btn-primary btn-sm btn-block">Search</button>
                </form>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
            </div>
            <table class="table table-sm">
                <tr>
                    <th>Product</th>
                    <th>Date ordered</th>
                    <th>Status</th>
                    <th>Update</th>
                    <th>Remove</th>
                </tr>
                {% for order in orders%}
                    <tr>
                    <td>{{order.product}}</td>
                    <td>{{order.date_created}}</td>
                    <td>{{order.status}}</td>
                    <td><a href ="{% url "update_order" order.id %}" class="btn btn-sm btn-info">Update</a></td>
                    <td><a href ="{% url "delete_order" order.id %}" class="btn btn-sm btn-danger">Delete</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}